{
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "strict",
  "tabWidth": 2
}