@use './devices' as device;

@mixin families {
  :root {
    --font-family-primary: 'Roboto', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    --font-family-secondary: 'Frank Ruhl Libre', Cambria, Cochin, Georgia, Times,
      'Times New Roman', serif;
  }
}

@mixin sizes {
  :root {
    --font-size-medium: 1.7rem;
    --font-size-large: 2.2rem;
    --font-size-xlarge: 2.7rem;
    --font-size-small: 1.4rem;
    --font-size-xsmall: 1.1rem;

    @include device.tablet {
      --font-size-medium: 1.6rem;
      --font-size-large: 2.2rem;
      --font-size-xlarge: 3rem;
      --font-size-small: 1.3rem;
      --font-size-xsmall: 1rem;
    }
    @include device.desktop {
      --font-size-medium: 1.5rem;
      --font-size-large: 2.4rem;
      --font-size-xlarge: 3.3rem;
      --font-size-small: 1.2rem;
      --font-size-xsmall: 0.9rem;
    }
  }
}
