@use "../interaction" as interaction;

@mixin base {
  html {
    font-size: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;

    @include interaction.hover;
    @include interaction.active;
  }

  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}
