@mixin mobile {
  @media (hover: none) and (pointer: coarse) and (max-width: 768px),
    (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (hover: none) and (pointer: coarse) and (min-width: 769px),
    (min-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media (hover: hover) and (pointer: fine) and (min-width: 1201px),
    (min-width: 1201px) {
    @content;
  }
}
