@mixin hover {
  &:hover {
    text-decoration: underline currentColor;
    @content;
  }
}

@mixin focus {
  &:focus {
    outline: none;
  }
  &:focus-visible {
    @content;
  }
}

@mixin hover-focus {
  @include hover {
    @content;
  }
  @include focus {
    @content;
  }
}

@mixin active {
  &:active {
    outline: 1px solid black;
    @content;
  }
}
